h1 {
  text-align: center;
  color: rgb(80,80,80);
  margin: 30px;
  letter-spacing: 5px;
  border-bottom: 1px solid rgb(200,200,200);
  padding-bottom: 15px;
}

.card {
  text-align: center;
  margin:15px;
}

.card-title {
  color: rgb(80,80,80);
}

.card button {
  opacity: 0.7;
  border: none;
  background:none !important;
  outline: inherit !important;
}

.card button:hover {
  cursor:pointer;
  opacity: 0.5;
}

.card button:active {
  opacity: 0.1;
}

.edit-button {
  position:absolute;
  left: 10px;
  top: 10px;
}

.details-button {
  position: absolute;
  right: 10px;
  top:10px;
}

.keg-level {
  margin-left: 10%;
}

.details {
  color: #505050;
}

.back-button {
  position:absolute;
  right: 10px;
  top: 10px;
}
